*{
    padding: 0px;
    margin: 0px;
    /* outline: 1px dotted red; */
}
.navbar{
    background: rgb(0, 123, 255);
    background: linear-gradient(90deg, rgba(0, 123, 255, 1) 0%, rgba(0, 171, 255, 1) 30%, rgba(0, 194, 255, 1) 70%, rgba(0, 123, 255, 1) 100%);
}
table{
    border: 1px solid black;
}
table th, table td{
    border: 1px solid black;
}
div.orders, div.products{
    width: 70%;
    margin: 100px 0px 0px 15%;
}
div.products table img{
    width: 75px;
    height: 75px;
}
.sort{
    width: 15%;
}
div.order-details{
    display: inline-block;
    width: 20%;
    padding: 10px;
    margin: 50px 0px 0px 22%;
    border: 1px solid black;
}
    div.order-details p{
        display: inline-block;
        width: 100%;
        margin: 2px 0px;
    }
div.items{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 50px 0px 0px 2%;
}
    div.items p.status, div.price{
        display: inline-block;
        width: 45%;
        padding: 5px;
        border: 1px solid black;
        margin: 30px 0px 0px 0%; 
    }
    div.price{
        vertical-align: top;
        margin-left: 9%;
    }
    div.price p{
        margin: 2px 0px;
    }
form.edit-product, form.add-product{
    width: 80%;
    min-height: 600px;
    margin: 0px auto
}
    form.edit-product label ,form.add-product label{
        width: 30%;
        margin: 10px;
        text-align: end;
    }
    form.edit-product input[type=text],textarea,select, form.add-product input[type=text],textarea,select{
        width: 50%;
        padding: 5px;
    }
#editSortable , #addSortable{
    width: 50%;
    min-height: 20px;
    list-style-type: none;
    margin: 0px 0px 0px 34%;
    padding: 5px 0 0 0;
    margin-right: 10px;
}
    #editSortable li,  #addSortable li {
        border: 1px solid rgb(201, 199, 199);
        margin: 0 5px 5px 5px;
        padding: 5px;
        width: 100%;
        /* font-size: 1.2rem; */
    }
        #editSortable li img , #addSortable li img{
            margin: 0px 10px;
            width: 50px;
            height: 50px;
            display: inline-block;
            object-fit: cover;
        }
        #editSortable li span , #addSortable li span{
            margin: 10px 10px;
            float: right;
            width: 60px;
        }
        #editSortable li a, #addSortable li  a{
            display: none;
        }
        #editSortable li:hover a, #addSortable li:hover a{
            margin: 0px 0px 0px 10px;
            display: inline-block;
            color:red
        }
        #editSortable li input[type=checkbox], #addSortable li input[type=checkbox]{
            margin: 0px 5px 0px 0px;
            width: 20px;
            color:red
        }
div.actions{
    margin: 20px 0px 0px 60%;
}
ul.categories { 
        height: 40px;
        width: 50%;
        padding: 0px;
        margin: 0px;
        border: 1px #000 solid;
        display: inline-block;
    }
    ul.categories li { 
        width: 100%;
        padding: 5px 5px 5px 5px; 
        z-index: 2; 
    }
    ul.categories li:not(.init) { 
        width: 100%;
        display: none; 
        background-color: white;
        border: 1px solid black;
    }
    ul.categories li:not(.init):hover, ul.categories li.selected:not(.init) { 
        cursor: pointer; 
    }
    li.init { 
        cursor: pointer; 
    }
    ul.categories li span.category-action{
        float: right;
        width: 60px;
        display: none;
    }
    span.category-action a{
        color: red;
    }
    ul.categories li:not(.init):hover span { 
        display: inline-block;
    }
    li input[type=text]{
        padding: 0px;
        height: 30px;
        border: 0px;
        color:black;
        background-color: white;
    }